.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled,
.swiper-pagination-bullet {
  color: #f3adc8 !important;
}

.wrap {
  z-index: 1;
}

.img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
